/*
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header.major {
		margin-bottom: 2em;
	}

	header.major h2 {
		font-size: 2em;
	}

	header.major p {
		padding: 1em 1em 0 1em;
	}

/* Banner */

	#banner {
		padding: 10em 2em 8em;
	}

		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
		}

		h2 {
			font-size: 1.4em;
			line-height: 1.5em;
		}

		h3 {
			font-size: 0.8em;
			line-height: 1.5em;
			padding-right : 0;
		}

		h4 {
			font-size: 0.8em;
			line-height: 1.5em;
			padding-right : 0;
		}

/* Wrapper */

	.wrapper {
		/* Style 1 Wrapper */
		/* Style 2 Wrapper */
	}

		.wrapper.style1 {
			padding: 4em 2em 2em;
		}

		.wrapper.style2 {
			padding: 4em 0em 2em;
		}


/* Footer */

	#footer {
		padding: 4em 0em 4em;
		background: #000033;
		color: #888;
		padding: 3em 0em 4em;
	}

	#footer h2 {
		color: #ffffff;
		margin-bottom: 0.8em;
		font-size: 1.4em;
	}

	#footer h3, #footer h4 {
		color: #ffffff;
		font-size: 1.2em;
	}

	#footer hp{
		color: #ffffff;
		font-size: 1.2em;
		line-height: 1.5em;
	}

	#footer a {
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		color: #ffffff;
	}

	#footer .icons .rounded {
		border-color: #888;
		font-size: 1.5em;
	}

	#footer .icons .rounded:active, #footer .icons .rounded:hover {
		border-color: #ffffff;
	}

	#footer .copyright {
		font-size: 0.5em;
		margin: 2em 0 0 0;
		padding: 0;
		text-align: center;
	}

	#footer .copyright li {
		border-left: 0;
		margin-left: 0;
		padding-left: 0;
		display: block;
	}

	#footer .column {
		float: left;
		width: 50%;
	}

/* List */

ul.actions {
	margin: 0 0 2em 0;
}

	ul.actions li {
		padding: 1em 0 0 0;
		display: block;
		text-align: center;
		width: 100%;
	}

		ul.actions li:first-child {
			padding-top: 0;
		}

		ul.actions li > * {
			width: 100%;
			margin: 0 !important;
		}

			ul.actions li > *.icon:before {
				margin-left: -2em;
			}

	ul.actions.small li {
		padding: 0.5em 0 0 0;
	}

		ul.actions.small li:first-child {
			padding-top: 0;
		}
			   